
/* Style Is Global At App.css */

.cart-content {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 5;
    font-size: 20px;
    width: 50px;
    height: 50px;
    background-color: #d0544e;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.cart-content:hover {
    background-color: #d0544e;
}

.cart-content.cus-cart-content {
    position: relative;
    right: 0;
    bottom: 0;
    width: 120px;
    border-radius: 20px;
}








