
.change-text {
    display: flex;
}
.change-text h4 {
    font-size: 28px;
}
@media (max-width: 767px) {
    .change-text h4 {
        font-size: 20px;
    }
}
.change-text h4:first-child {
    color: #dd544e;
}
.word {
    position: absolute;
    display: flex;
    opacity: 0;
    text-indent: 5px;
    color: #fff;
}
.word .letter {
    transform-origin: center center 25px;
}
.word .letter.out {
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6,0,0.7,0.2);
    -webkit-transition: 0.32s cubic-bezier(0.6,0,0.7,0.2);
    -moz-transition: 0.32s cubic-bezier(0.6,0,0.7,0.2);
    -ms-transition: 0.32s cubic-bezier(0.6,0,0.7,0.2);
    -o-transition: 0.32s cubic-bezier(0.6,0,0.7,0.2);
}
.word .letter.in {
    transition: 0.38s ease;
    -webkit-transition: 0.38s ease;
    -moz-transition: 0.38s ease;
    -ms-transition: 0.38s ease;
    -o-transition: 0.38s ease;
}
.word .letter.behind {
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
}